.highlights-popup-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    z-index: 99999;
}

.highlights-popup {
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 15px rgba(30,30,30,.75);
    border-radius: 4px;
    border: 2px solid #343434;
    overflow: hidden;
    width: 756px;
    font-family: roboto;
    background-color: white;
}

.highlights-header {
    display: flex;
    align-items: center;
    background-color: #343434;
}

#highlights-title {
    font-size: 28px;
    padding: 15px;
    white-space: nowrap;
    color: white;
}

.highlight-table-container {
    display: flex;
    padding: 10px 0px;
    flex-wrap: nowrap;
    float: left;
    width: 696px;
    overflow: hidden;
}

.video-container {
    flex: 0;
    padding: 10px;
}

.highlight-description {
    height: 32px;
    line-height: 16px;
    font-weight: 500;
    width: 180px;
    margin: 10px 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;   
}

.week-select-dropdown {
    padding: 10px 15px;
}

.week-select-dropdown select {
    width: 120px;
    height: 35px;
    font-size: 16px;
}

#no-highlights-text {
    font-size: 16px;
}

.highlight-elements {
    border: 1px solid #D8D9D5;
    font-size: 12px;
}

.highlight-arrow-container {
    position: absolute;
}

.highlight-arrow {
    fill: #343434;
}

.highlight-picture img {
    width: 210px;
}

.highlight-table-container h1 {
    flex: 1;
}

#highlight-player-id {
    display: none;
}

.highlight-bitrate-options {
    display: flex;
    border-top: 1px solid #d8d9d5;
    padding: 5px 0px;
    font-weight: 300;
}

.highlight-bitrate-options .bitrate-option {
    flex: 1;
    align-items: center;
    text-align: center;
}

.highlight-bitrate-options .bitrate-option:not(:first-child) {
    border-left: 1px solid #d8d9d5; 
}

.highlight-picture img, .highlight-description a, .bitrate-option a {
    cursor: pointer;
} 
