.highlight-link-image-container {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.highlight-link-image {
    stroke-width: 2;
    fill: white;
    stroke: #3393ff;
}

.highlight-link-image-container:hover > rect,
.highlight-link-image-container:hover > polygon,
.highlight-link-image-container.active-popup > .highlight-link-image {
    fill: #3393ff;
}

.left-scroll-arrow, .right-scroll-arrow {
    float: left;
    height: 163.25px;
    padding: 123.25px 0px 0px;
}

.scroll-arrow {
    cursor: pointer;
}

.scroll-no-highlights {
    height: 41px;
    padding: 0px;
}

.scroll-hidden {
    visibility: hidden;
}
